h1{
	text-align: center
	margin: 10px;
}
a:hover,a:active{color:#229954;}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.button{
	transition-duration: 0.4s;
	border: 2px solid #4CAF50;
	color: black;
	background-color: white;
	text-decoration: none;
	border-radius: 8px;
	padding: 12px 28px;
	text-align: center;
    text-decoration: none;
    display: inline-block;
}
.button:hover{
	background-color: #4CAF50;
	color: white;
}
.header{
	background: grey;
	margin-bottom: 10;
}
body{
	margin: 0;
	padding: 0;
}